<li style="font-size: 1.5em; padding: 5px 15px; background: #aaddaa">Streets That Wasn't cleaned</li>
<hr>
<hr>
<%= @dataListToDisplay.each do |uncleanBuilding| %>
    <li style="font-size: 1.5em; padding: 5px 15px;"><%= uncleanBuilding %></li>
    <hr>
<% end %>